.input:invalid:not(:placeholder-shown) {
	border-color: red;
}
.input:valid:not(:placeholder-shown) {
	border-color: green;
}
.input:invalid:not(:placeholder-shown),
.input:valid:not(:placeholder-shown) {
}
.input:invalid:not(:placeholder-shown) + p {
	color: red;
}
.input:invalid ~ button[type="submit"] {
	opacity: 0.6;
	pointer-events: none;
}
